@page "/counter"
@page "/counter/{IncrementAmount:int}"

<h1>Counter</h1>

<p>Current count: @(currentCount * 1)</p>

<button class="btn btn-primary" @onclick="IncrementCount">+ @IncrementAmount</button>

@code {
    
    [Parameter]
    public int? IncrementAmount { get; set; }
    
    private int currentCount = 1;

    private void IncrementCount()
    {
        if (IncrementAmount != null) currentCount += IncrementAmount.Value;
    }
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        IncrementAmount = IncrementAmount ?? 1;
        StateHasChanged();
    }
}
