@page "/"


<NavLink class="nav-link" href="todos">
                <h2 class="oi oi-list-rich" aria-hidden="true" style="display: inline"></h2><h2 Plotter style="font-family: Roboto;display: inline">To Do</h2> 
            </NavLink>
 
            <NavLink class="nav-link" href="plotter">
                <h2 class="oi oi-graph" aria-hidden="true" style="display: inline"></h2><h2 Plotter style="font-family: Roboto;display: inline">Plotter</h2> 
            </NavLink>
 


